{% extends "base.html.twig" %}

{% block body %}

<h1>
{% if editMode %}
    modification de l'article
{% else %}
    Création d'un article
{% endif %}
</h1>

{# {{ form(formVoiture) }} #}

{{form_start(formVoiture, {
    attr: {
        novalidate: 'novalidate'
    }
})}}

{{form_row(formVoiture.marque)}}
{{form_row(formVoiture.modele, {
    label: "Modèle",
    attr: {
        placeholder: "modèle de la voiture"
    }
})}}
{{form_row(formVoiture.prix)}}
{{form_row(formVoiture.description)}}

{{ form_row(formVoiture.type) }}

<button type="submit" class="btn btn-primary mt-2">
{% if editMode %}
    Enregistrer les modifications
{% else %}
    Ajouter la voiture
{% endif %}
</button>

{{form_end(formVoiture)}}

{% endblock %}