{% extends "base.html.twig" %}

{% block title %} liste voitures{% endblock %}
{% block body %}



<table class="table table-dark table-striped">
	<thead>
		<tr>
            <th>#</th>
            <th>marque</th>
            <th>modèle</th>
            <th>prix</th>
            <th>description</th>
            <th>Option</th>
        </tr>
	</thead>
	<tbody>
{% for voiture in voitures %}
    

        <tr>
            <td>{{voiture.id}}</td>
            <td>{{voiture.marque}}</td>
            <td>{{voiture.modele}}</td>
            <td>{{voiture.prix}}</td>
            <td><p>{{voiture.description}}</p></td>
            <td>
                <a href="{{ path('voiture_show',{id: voiture.id}) }}"><button type="submit" class="btn btn-info mt-2">Voir</button></a>
                <a href="{{ path('voiture_edit',{id: voiture.id}) }}"><button type="submit" class="btn btn-warning mt-2">Modifier</button></a>
                <a onclick="return confirm('voulez-vous supprimer cet article ?')" href="{{ path('voiture_delete',{id: voiture.id}) }}"><button type="submit" class="btn btn-danger mt-2">Supprimer</button></a>

            </td>
        </tr>
{% endfor %}
    </tbody>

</table>


<a  href="{{path('voiture_create')}}"><button class="btn btn-primary">Nouvelle voiture</button></a>






 {% endblock %}