{% extends "base.html.twig" %}

{% block body %}

<h1>
{% if editMode %}
    modification de l'article
{% else %}
    Création d'un article
{% endif %}
</h1>

{# {{ form(formArticle) }} #}

{{form_start(formArticle, {
    attr: {
        novalidate: 'novalidate'
    }
})}}

{{form_row(formArticle.title)}}
{{form_row(formArticle.content, {
    label: "Contenu",
    attr: {
        placeholder: "contenu de l'article"
    }
})}}
{{form_row(formArticle.image)}}

<button type="submit" class="btn btn-primary mt-2">
{% if editMode %}
    Enregistrer les modifications
{% else %}
    Ajouter l'article
{% endif %}
</button>

{{form_end(formArticle)}}

{% endblock %}