{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

    <section class="row article">
    
    
        
   
        
        <article class="col-md-8 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
            <h2>{{article.title}}</h2>
            <div class="metadata">Ecrit le {{article.createdAt|date('d/m/Y à H:i:s')}} dans la catégorie {{ article.category.title }}</div>
            <div class="content">
                <img class="img-fluid" src="{{article.image}}" alt="">
                <div class="text-center">{{ article.content|raw}}</div>
                
            </div>
        
        </article>
 
    </section>

    <h2 class="text-center mx-auto m-3">Commentaires</h2>

    <section id="commentaire" class="col-md-10 mx-auto">
    <table class="table table-light">
  <thead>
    <tr>
      <th class="col-md-3">User/Time</th>
      <th class="col-md-9">Commentaires</th>
    </tr>
  </thead><tbody>
    {% for comment in article.comments %}

        
  
    <tr>
      <td> {{ comment.user.firstname }} <br> (<small>{{comment.createdAt|date('d/m/Y à H:i:s')}}</small>)</td>
      <td>{{comment.content|raw}}</td>
    </tr>
        
    {% endfor %}
    </tbody>
    </table>
    </section>


{% if app.user %}
    <section class="card bg-light mb-3 mx-auto col-md-10">
  <div class="card-header">Ajoutez votre commentaire</div>  
  <div class="card-body"> 
{{form_start(form, {
    attr: {
        novalidate: 'novalidate'
    }
})}}
{{form_row(form.content , {
    label: "Commentaire",
    attr: {
        placeholder: "Bas oui roger tu as raison ..."
    }
})}}
<button type="submit" class="btn btn-info mt-2">
Envoyer
</button>

{{form_end(form)}}
{% else %}
       
<a href="{{path('app_login')}}"><button type="submit" class="btn btn-primary mt-2">
Se connecter
</button></a>    
{% endif %}   
</div>
</section>



{% endblock %}
